trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: 'Release'
  apiProject: 'apps/Api/Api.csproj'  
  webPath: 'apps/Web'

steps:
# ---------- API (.NET / EF) ----------
- task: UseDotNet@2
  displayName: 'Use .NET SDK'
  inputs:
    packageType: 'sdk'
    version: '10.x'   

- task: DotNetCoreCLI@2
  displayName: 'Restore API'
  inputs:
    command: 'restore'
    projects: '$(apiProject)'

- task: DotNetCoreCLI@2
  displayName: 'Build API'
  inputs:
    command: 'build'
    projects: '$(apiProject)'
    arguments: '--configuration $(buildConfiguration) --no-restore'

- task: DotNetCoreCLI@2
  displayName: 'Publish API'
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: '$(apiProject)'
    arguments: '--configuration $(buildConfiguration) --no-build --output $(Build.ArtifactStagingDirectory)/api'
    zipAfterPublish: false

- task: PublishPipelineArtifact@1
  displayName: 'Publish API artifact'
  inputs:
    targetPath: '$(Build.ArtifactStagingDirectory)/api'
    artifact: 'api'
    publishLocation: 'pipeline'


# ---------- Web (Vite React) ----------
- task: NodeTool@0
  displayName: 'Use Node.js 20'
  inputs:
    versionSpec: '20.x'

- script: |
    npm ci
    npm run build
  workingDirectory: '$(webPath)'
  displayName: 'Build Web'

- task: PublishPipelineArtifact@1
  displayName: 'Publish Web artifact'
  inputs:
    targetPath: '$(webPath)/dist'
    artifact: 'web'
    publishLocation: 'pipeline'
